$white : white;
$bg-color : rgb(231, 231, 231);
$primary-color : #aa5061;
$logo-width: 30px;
$avatar-width: 20px;
$second-nav-item-width : 130px;

body{
  background-color: $bg-color !important;
}

.right{
  float: right !important;
}

.logo{
  width: $logo-width;
  height: $logo-width;
}

.user-image{
  width: $avatar-width;
  height: $avatar-width;
  margin-top: -5px;
}

.information{
  tr{
    border-bottom: 1px solid rgba(255, 255, 255, 0) !important;
    td{
      padding: 3px !important;
    }
    th{
      width: 140px;
    }
  }
}

.user-name{
  color: rgb(236, 236, 236);
  &:hover{
    color: rgb(236, 236, 236);
    text-decoration: none !important;
    color: white
  }
}

.main{
  overflow: auto !important;
  padding-top: 10px !important;
  margin-bottom: 50px;
  form{
    width: 100%;
    max-width: 600px;
    border: 1px solid rgb(219, 219, 219);
    box-shadow: 0 0 10px gray;
    margin: 20px auto;
    padding: 15px 20px;
    img{
      max-width: 200px;
      max-height: 200px;
      display: block;
      margin: 10px auto;
    }
    label{
      width: 100%;
      margin-top: 10px;
      margin-bottom: 0px;
    }
    input[type=text], input[type=number], input[type=password], textarea, .name-select{
      width: 100%;
      padding: 5px;
      font-size: large;
      border: 1px solid rgb(214, 214, 214);
      background-color: white;
    }

    input[type=submit]{
      border: 1px solid #551520;
      background-color: $primary-color;
      color: white;
      padding: 5px;
      margin-top: 15px;
      width: 100%;
      max-width: 200px;

      &:hover{
        background-color: brown;
      }
    }
  }

  .show-image{
    width: 100%;
    height: 100%;
    max-width: 200px;
    max-height: 200px;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  table{
    min-width: 100%;
    thead{
      border-top: 1px solid rgb(175, 175, 175);
      border-bottom: 1px solid  rgb(175, 175, 175);
      th{
        padding: 10px;
        background-color: $primary-color;
        color: white;
        border-left: 1px solid rgb(122, 122, 122);
        text-align: center;
      }
    }
    tr{
      border-bottom: 1px solid rgb(190, 190, 190);
      td{
        padding: 10px;
        img{
          width: 80px;
          height: 80px;
          margin-right: 10px;
        }

      }
    }
  }
}

.gym-bg-primary{
  background-color: $primary-color !important;
}

.gym-button-primary{
  background-color: $primary-color !important;
  border: 1px solid #862132 !important;

} 

.gym-bg-white{
  background-color: $white !important
}

.second_navbar{
  .nav-item{
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
    width: $second-nav-item-width;
    text-align: center;
    
  }

  .active{
    background-color: $white;
  }

}

.icon{
  margin-right: 10px !important;
}

.controller-name{
  margin-top: -10px !important;
  padding-top: 9px;
  padding-bottom: 3px;
}

.margined-top{
  margin-top: 10px;
}

.footer{
  height: 50px;
  width: 100%;
  background-color: $primary-color;
  position: fixed;
  bottom: 0;
  display: none;
  p{
    color: white;
    text-align: center;
    margin-top: 11px;
  }
}

.show{
  display: block;
}

.clear-fix{
  overflow: auto;
}


@media screen and (max-width: 990px) {
  .controller-name{
    margin-top: 0 !important;
  }
  .nav-item{
    width: 100% !important;
    text-align: left !important;   
    border-bottom-left-radius: 10px !important;
    border-bottom-right-radius: 10px !important; 
    .icon{
      margin-left: 1em
    }
    a{
      color: rgb(179, 179, 179) !important;
    }
  }

  .active a{
    color: black !important;
  }

  td{
    text-align: center;
    img{
      margin: 0 !important;
    }
  }
  ul.navbar-nav{
    margin-top: 5px !important;
  }
  

  .bg-nav-mobile{
    background-color: $primary-color;
  }
  .second_navbar{
    width: 100% !important;
    margin: 0 !important; 


    .container{
      width: 100% !important;
      padding-left: 0 !important; 
      padding-right: 0 !important; 
    }
    
    button{
      color: white !important;
      font-size: 25px;
      border: 1px solid white !important;
 
    }
  }
}